* {
  font-family: 'Roboto';
}

body {
  margin: 0;
}

.hero-section {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

.hero-header, .hero-content {
  display: flex;
}

.hero-header {
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  margin-bottom: 100px;
}

.hero-content {
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 100px;
}

.hero-content-main, .placeholder {
  width: 500px;
  height: 250px;
}

.placeholder {
  color: white;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 12px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 12px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.information-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information {
  display: flex;
}

.info-header-text {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.info-cell {
  display: flex;
  flex-direction: column;
}

.info-image {
  height: 150px;
  width: 150px;
  border: 4px solid #3882F6;
  border-radius: 8px;
}

.info-text {
  font-size: 18px;
}

.button {
  background-color: #3882F6;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  padding: 8px 36px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

